<div class="media">
  <div class="media-body">
    <h4 class="media-heading">
      <%= link_to "#{topic.title} - #{topic.id}", topic %>
    </h4>

    <%= render partial: "bookmarks/bookmarks", locals: {topic: topic} %>
    
  </div>
</div>
<br>
