<h1 style="color:#0896BE;"><span style="color:#67C067;">Public</span> Bookmarks by Topic<hr></h1>
<small style="padding-left:25px"><%= "filtered by '#{@filter}'" if !@filter.nil? %></small>
<%= render partial: "form", locals: {topics: @topics} %>
